@charset "UTF-8";
/* Colors */
/* Colors Dark */
/* Colors Light */
/* Colors Pastel */
/* Nav */
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; height: 38px; padding: 0 30px; color: #57585C; text-align: center; font-size: 11px; font-weight: 600; line-height: 38px; letter-spacing: .1rem; text-transform: uppercase; text-decoration: none; white-space: nowrap; background-color: transparent; border-radius: 4px; border: 1px solid #F2F2F2; cursor: pointer; box-sizing: border-box; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { color: #F2F2F2; border-color: #57585C; outline: 0; }

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary { color: #FEFFFC; background-color: #d3e3fb; border-color: #57585C; }

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus { color: #FFF; background-color: #d3e3fb; border-color: #57585C; }

/* Blockquote */
.color-blockquote-border { border-color: #F2F2F2; }

/* Links Color */
.color-link { color: #1a52a5; }

.color-link-hover { background: #f8d5d8; }

/* Sections */
#hello { background: url(assets/img/bgnoise.png); color: #2e2e2e; text-align: center; padding: 40px; }
#hello h3, #hello p, #hello h1 { color: #2e2e2e; }
#hello .button { background: #b2232f; color: #FEFFFC; }
#hello .fa { color: #1a52a5; text-align: center; display: inline-block; font-size: 200px; }

#social { background: #F2F2F2; color: #0f0f0f; text-align: center; padding: 40px; display: inline-block; }
#social .fa { color: #1a52a5; text-align: center; display: inline-block; font-size: 80px; }
#social p { color: #2e2e2e; }
#social a { color: #1a52a5; }

/* General CSS */
.fa { font-size: 100px; color: #92baf6; text-align: center; display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.profile img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box; width: 200px; }
