@charset "UTF-8";
/* Colors */
/* Colors Dark */
/* Colors Light */
/* Colors Pastel */
/* Nav */
/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; height: 38px; padding: 0 30px; color: #57585C; text-align: center; font-size: 11px; font-weight: 600; line-height: 38px; letter-spacing: .1rem; text-transform: uppercase; text-decoration: none; white-space: nowrap; background-color: transparent; border-radius: 4px; border: 1px solid #F2F2F2; cursor: pointer; box-sizing: border-box; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { color: #F2F2F2; border-color: #57585C; outline: 0; }

.button.button-primary, button.button-primary, input[type="submit"].button-primary, input[type="reset"].button-primary, input[type="button"].button-primary { color: #FEFFFC; background-color: #d3e3fb; border-color: #57585C; }

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, .button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus { color: #FFF; background-color: #d3e3fb; border-color: #57585C; }

/* Blockquote */
.color-blockquote-border { border-color: #F2F2F2; }

/* Links Color */
.color-link { color: #1a52a5; }

.color-link-hover { background: #f8d5d8; }

/* Navigation Menu */
.nav h1, p { color: #FEFFFC; }

#nav, #header { position: relative; background: #FEFFFC; padding: 1%; }
#nav .title, #header .title { color: #1a52a5; font-size: 46px; }
#nav ul, #header ul { display: none; width: 100%; list-style: none; margin: 0px; padding: 0px; }
#nav ul li a, #header ul li a { display: block; padding: 1em; background: #FEFFFC; color: #3F71AE; text-decoration: none; border-right: 1px solid #dd950a; }
#nav ul li a:hover, #header ul li a:hover { background: #f4a50d; }
#nav ul li:last-of-type a, #header ul li:last-of-type a { border-right: 0px; }
#nav ul li ul li a, #header ul li ul li a { padding-left: 1.5em; }
#nav ul li ul li ul li a, #header ul li ul li ul li a { padding-left: 3.125em; }
#nav input.trigger, #header input.trigger { position: absolute; top: -9999px; left: -9999px; }
#nav input.trigger:checked ~ ul, #nav input.trigger:checked ~ ul li ul, #header input.trigger:checked ~ ul, #header input.trigger:checked ~ ul li ul { display: block !important; }
@media (min-width: 48em) { #nav input.trigger:checked ~ ul, #nav input.trigger:checked ~ ul li ul, #header input.trigger:checked ~ ul, #header input.trigger:checked ~ ul li ul { /* older flexbox */ display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; /* newer flexbox */ display: flex; flex-direction: row; } }
#nav label, #header label { position: relative; display: block; min-height: 2em; padding: .45em; font-size: 1.1em; margin: 0; cursor: pointer; background: #92baf6; line-height: 2em; color: white; }
#nav label:after, #header label:after { position: absolute; right: 1em; top: .2em; content: "\2261"; font-size: 1.8em; color: white; }
@media (min-width: 48em) { #nav ul, #header ul { /* older flexbox */ display: -ms-flexbox; flex-direction: -ms-row; display: -webkit-box; display: -moz-box; display: box; -webkit-box-orient: horizontal; -moz-box-orient: horizontal; box-orient: horizontal; /* newer flexbox */ display: flex; flex-direction: row; }
  #nav ul li, #header ul li { position: relative; text-align: center; /* older flexbox */ -ms-flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; box-flex: 1; /* newer flexbox */ flex: 1; }
  #nav ul li ul, #header ul li ul { display: none !important; position: absolute; top: 3.0625em; left: 0; display: block; width: 12.5em; z-index: 200; }
  #nav ul li ul li, #header ul li ul li { text-align: left; }
  #nav ul li ul li ul, #header ul li ul li ul { z-index: 300; top: 0px; left: 12.4em; }
  #nav ul li ul li ul li a, #header ul li ul li ul li a { padding-left: 30px !important; }
  #nav ul li:hover > ul, #header ul li:hover > ul { display: block !important; }
  #nav label, #header label { display: none; } }
