@import 'jard-colors';
@import 'custom';

/* Sections */

#hello {
	background: url(assets/img/bgnoise.png);
	color: $black-dark;
	text-align: center;
	padding: 40px;

	h3 ,p ,h1 {
		color: $black-dark;
	}



.button {
	background: $red-dark;
	color: $white;
}

.fa {
		color: $blue-dark;
		text-align: center;
		display: inline-block;
		font-size: 200px;

}
}



#social{
	background: $gray-light;
	color: $black ;
	text-align: center;
	padding: 40px;
  display: inline-block;

	.fa {
	    color: $blue-dark;
	  	text-align: center;
	    display: inline-block;
			font-size: 80px;

	}

	p {
		color: $black-dark;
	}
	a {
		color: $blue-dark;
	}
}

/* General CSS */

.fa {
  	font-size: 100px;
  	color: $blue-light;
  	text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.profile img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
		width: 200px;
}
