@import 'jard-colors';
//@extend-elements
//original selectors
//*, *:before, *:after
%extend_1 {
	//vendor-prefix found
	//-webkit-box-sizing: border-box
	//vendor-prefix found
	//-moz-box-sizing: border-box
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
}


* {
	@extend %extend_1;
	&:before {
		@extend %extend_1;
	}
	&:after {
		@extend %extend_1;
	}
}
body {
	margin:0;
	-webkit-animation: bugfix infinite 1s; /* needed for checkbox hack */
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background: $white;
	font: 14px/21px "Montserrat", "Lato", "Raleway", "HelveticaNeue-Light", Arial, sans-serif;
}

.container {
	margin: 0 auto;
	width: 100%;
}
.content {
	max-width: 100%;
	margin: 0 10px;
}
[class*="col"] {
	display: inline;
	float: left;
	position: relative;
	margin-left: 1%;
	margin-right: 1%;
	&:last-child {
		margin-right: 0;
	}
}

/* Grid CSS */

.col1 {
	width: 6.333%;
}
.col2 {
	width: 14.667%;
}
.col3 {
	width: 23%;
}
.col4 {
	width: 31.333%;
}
.col5 {
	width: 39.667%;
}
.col6 {
	width: 48%;
}
.col7 {
	width: 56.333%;
}
.col8 {
	width: 64.667%;
}
.col9 {
	width: 73%;
}
.col10 {
	width: 81.333%;
}
.col11 {
	width: 89.667%;
}
.col12 {
	margin-left: 0;
	width: 100%;
}
@media handheld, only screen and(max-width: 768px) {
	body {
		font-size: 1.0em;
	}
	.content {
		width: 100%;
		min-width: 0;
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
	.col1 {
		width: 98%;
	}
	.col2 {
		width: 98%;
	}
	.col3 {
		width: 98%;
	}
	.col4 {
		width: 98%;
	}
	.col5 {
		width: 98%;
	}
	.col6 {
		width: 98%;
	}
	.col7 {
		width: 98%;
	}
	.col8 {
		width: 98%;
	}
	.col9 {
		width: 98%;
	}
	.col10 {
		width: 98%;
	}
	.col11 {
		width: 98%;
	}
	.col12 {
		width: 98%;
	}
}




/* Footer */

footer {

background: $black-pastel;
color : $white;
display: block;
width: 100%;
padding:20px;
text-align: center;
position: absolute;

}

/* Clear Settings */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearfix {
	*zoom: 1;
	&:before {
		display: table;
		content: "";
		line-height: 0;
	}
	&:after {
		display: table;
		content: "";
		line-height: 0;
		clear: both;
	}
}


/* Image Resizing */
img {
	border: 0;
	//vendor-prefix found
	//-ms-interpolation-mode: bicubic
	//vendor-prefix found
	//-moz-box-sizing: border-box
	//Instead of the line below you could use @include box-sizing($bs)
	box-sizing: border-box;
	max-width: 100%;
	_width: 100%;
	height: auto;
	vertical-align: middle;
}
img[src*="maps.gstatic.com"] {
	max-width: none;
}
img[src*="googleapis.com"] {
	max-width: none;
}
svg:not(:root) {
	overflow: hidden;
}

/* Text Alignment */
.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

/* Lists */

ul, ol { margin-bottom: 20px; }
	ul { list-style: none inside; }
	ol { list-style: decimal inside; }
	ul, ul.square { list-style: square inside; }
	ul ul, ul.circle { list-style: circle inside; }
	ul ul ul, ul.disc { list-style: disc inside; }
	ul ul li, ul ol li,
	ol ol li, ol ul li { margin-bottom: 6px; }
	li { line-height: 18px; margin-bottom: 12px; }
	ul.large li { line-height: 21px; }
	li p { line-height: 21px; }


	/* Misc Settings */

	figure {
		margin: 0;
	}
	object {
		max-width: 100%;
		_width: 100%;
	}
	embed {
		max-width: 100%;
		_width: 100%;
	}
	video {
		max-width: 100%;
		_width: 100%;
	}

	hr {
		color: $black;
	}
