/* Colors */
$gray: #e0e3e5;
$black : #0f0f0f;
$blue : #0EB9C9;
$red : #de2c3b;
$yellow : #ffc800;
$green : #F5AE25;
$white : #FEFFFC;
$purple : #C468BB;
$orange : #F4AD24;

/* Colors Dark */
$gray-dark : #57585C;
$black-dark : #2e2e2e;
$blue-dark : #1a52a5;
$red-dark : #b2232f;
$yellow-dark: #fce00a;
$green-dark : #237f35;

/* Colors Light */
$gray-light:#F2F2F2;
$black-light: #363738;
$blue-light : #92baf6;
$red-light : #ef969d;
$yellow-light : #ffe480;
$green-light : #96cfa1;

/* Colors Pastel */
$grey-pastel : #f7f8f8;
$black-pastel : #2E2E2E;
$blue-pastel : #d3e3fb;
$red-pastel : #f8d5d8;
$yellow-pastel : #fff4cc;
$green-pastel : #d5ecd9;

$primaryColor: $blue-dark; // dark blue
$secondaryColor: $green; // green
$tertiaryColor: $blue-light; // light blue

/* Nav */
$flex_nav_hoverColor:darken($secondaryColor,5%);
$flex_nav_borderColor: darken($secondaryColor,10%);
$flex_nav_linkColor: #3F71AE;
$flex_nav_hotdogsColor: white;

$flex_nav_subNavWidth: 12.5em;
$flex_nav_breakpoint: 48em;

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: $gray-dark;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid $gray-light;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: $gray-light;
  border-color: $gray-dark;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: $white;
  background-color: $blue-pastel;
  border-color: $gray-dark; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: $blue-pastel;
  border-color: $gray-dark; }

/* Blockquote */
.color-blockquote-border{
border-color: $gray-light;}

/* Links Color */
.color-link{
color:$blue-dark;}
.color-link-hover{
background: $red-pastel;}
