@import 'jard-colors';
/* Navigation Menu */


.nav h1, p {
    color:$white;

}

#nav , #header {
  position:relative;
	background: $white;
	padding: 1%;



  .title {
		color: $blue-dark;
		font-size: 46px;
	}

  ul {
    display:none;
    width:100%;
    list-style:none;
    margin:0px;
    padding:0px;

    li {
      a {
        display:block;
        padding:1em;
        background:$white;
        color:$flex_nav_linkColor;
        text-decoration:none;
        border-right:1px solid $flex_nav_borderColor;
        &:hover {
          background:$flex_nav_hoverColor;
        }
      }
      &:last-of-type {
        a {
          border-right:0px;
        }
      }
      // 2nd level
      ul {
        li {
          a {
            padding-left:1.5em;
          }
          ul {
            li {
              a {
                padding-left:3.125em;
              }
            }
          }
        }
      }

    } // li

  } // ul

  input.trigger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    &:checked ~ ul,&:checked ~ ul li ul {
      display:block !important;
      @media (min-width:$flex_nav_breakpoint){
        /* older flexbox */
        display: -webkit-box;
        display: -moz-box;
        display: box;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        box-orient: horizontal;

        /* newer flexbox */
        display: flex;
        flex-direction: row;
      }
    }
  }
  label {
    position:relative;
    display:block;
    min-height:2em;
    padding:.45em;
    font-size:1.1em;
    margin:0;
    cursor:pointer;
    background:$tertiaryColor;
    line-height: 2em;
    color:lighten($primaryColor,80%);
  }

  label:after {
    position: absolute;
    right: 1em;
    top: .2em;
    content:"\2261";
    font-size:1.8em;
    color:$flex_nav_hotdogsColor;
  }

  @media(min-width:$flex_nav_breakpoint){
    ul {
      /* older flexbox */
      //display:block;
      display: -ms-flexbox;
      flex-direction: -ms-row;
      display: -webkit-box;
      display: -moz-box;
      display: box;

      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      box-orient: horizontal;

      /* newer flexbox */
      display: flex;
      flex-direction: row;

      li {
        position:relative;
        text-align: center;

        /* older flexbox */
        -ms-flex: 1;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        box-flex: 1;

        /* newer flexbox */
        flex: 1;

        // 2nd level
        ul {
          display:none !important;
          position:absolute;
          top:3.0625em;
          left:0;
          display:block;
          width:$flex_nav_subNavWidth;
          z-index:200;
          li {
            text-align:left;
            ul {
              z-index: 300;
              top:0px;
              left: ($flex_nav_subNavWidth - .1);
              li {
                a {
                  padding-left:30px !important;
                }
              }
            }
          }
        } // ul 2nd level

        &:hover > ul {
          display: block !important;
        }

      } // li
    } // ul
    label {
      display:none;
    }
  } // breakpoint

} // na
